.button {
    padding: 0.75rem;
    font-size: 1rem;
    background-color: #12355B;
    color: #fefae0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
    font-weight: bold;
}

.button:hover {
    transform: scale(1.05);
}

.login__button {
    width: 100%;
}

.update__button{
    background-color: #FF570A;
    border-radius: 8px;
}

.confirm__button{
    background-color: #28a745;
    border-radius: 8px;
}

.cancel__button{
    background-color: #d72638;
    border-radius: 8px;
}

.logout__button{
    background-color: #FF570A;
    margin: 20px;
}